@model PatientViewModel

@{
	ViewData["Title"] = "Details";
}

<section class="section profile">
	<div class="row">
		<div class="col-xl-4">
			<div class="card profile-card mx-auto">
				<div class="card-header bg-white text-black text-center py-4">
					<h4 class="mb-1">@Model.Name</h4>
					<p class="mb-0 text-muted">@Model.Email</p>
					<span class="badge @(!Model.IsDeleted ? "bg-success" : "bg-danger") js-status">
						@(!Model.IsDeleted? "Active" : "Inactive")
					</span>
				</div>
				<div class="card-body">
					<div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">
						<h5 class="card-title d-flex justify-content-between align-items-center">
							Details
							<a href="javascript:;" class="btn btn-sm btn-outline-primary js-toggle-status-patient-doctor"
							   data-url="/Patients/ToggleStatus/@Model.Id">
								<i class="bi bi-toggles"></i>
								Toggle Status
							</a>
						</h5>

						<div class="row">
							<div class="col-lg-6 col-md-4 label">Name</div>
							<div class="col-lg-6 col-md-8">@Model.Name</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-4 label">Mobile Number</div>
							<div class="col-lg-6 col-md-8">@Model.MobileNumber</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-4 label">Gender</div>
							<div class="col-lg-6 col-md-8">@Model.Gender.ToString()</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-4 label">Date of birth</div>
							<div class="col-lg-6 col-md-8">@Model.DateOfBirth.ToString("dd, MMM, yyyy")</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-4 label">Age</div>
							<div class="col-lg-6 col-md-8">@Model.Age @(Model.AgeFlag ? "Days" : "Years")</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-4 label">City</div>
							<div class="col-lg-6 col-md-8">@Model.City</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-4 label">Registered Date</div>
							<div class="col-lg-6 col-md-8">@Model.CreatedOn</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-8">
			<div class="card">
				<div class="card-body pt-3">
					<ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

						<li class="nav-item" role="presentation">
							<button class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">Upcoming Appointments</button>
						</li>

						<li class="nav-item" role="presentation">
							<button class="nav-link" data-bs-toggle="tab"  aria-selected="false" role="tab" tabindex="-1">Past Appointments</button>
						</li>

					</ul>
					<div class="tab-content pt-2">

						<div class="tab-pane fade profile-overview active show" role="tabpanel">
							
						</div>

						<div class="tab-pane fade profile-edit pt-3" role="tabpanel">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>