@model DoctorViewModel
@inject IHashids _hashids

@{
	ViewData["Title"] = "Details";
	var doctorId = _hashids.Decode(Model.Key)[0];
}

<section class="section profile">
	<div class="container-fluid">
		<div class="row g-4">

			<div class="col-lg-4">
				<div class="card profile-card mx-auto">
					<div class="card-header bg-white text-black text-center py-4">
						<h4 class="mb-1">@Model.Name</h4>
						<p class="mb-0 text-muted">@Model.Email</p>
						<span class="badge @(!Model.IsDeleted ? "bg-success" : "bg-danger") js-status">
							@(!Model.IsDeleted ? "Active" : "Inactive")
						</span>
					</div>
					<div class="card-body">
						<div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">
							<h5 class="card-title d-flex justify-content-between align-items-center">
								Details
								<a href="javascript:;" class="btn btn-sm btn-outline-primary js-toggle-status-patient-doctor"
								   data-url="/Doctors/ToggleStatus/@doctorId">
									<i class="bi bi-toggles"></i>
									Toggle Status
								</a>
							</h5>

							<div class="row">
								<div class="col-lg-6 col-md-4 label">Name</div>
								<div class="col-lg-6 col-md-8">@Model.Name</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-4 label">National Id</div>
								<div class="col-lg-6 col-md-8">@Model.NationalId</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-4 label">Mobile Number</div>
								<div class="col-lg-6 col-md-8">@Model.MobileNumber</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-4 label">Specialty</div>
								<div class="col-lg-6 col-md-8">@Model.Specialty</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-4 label">Salary</div>
								<div class="col-lg-6 col-md-8">@Model.Salary</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-4 label">Gender</div>
								<div class="col-lg-6 col-md-8">@Model.Gender.ToString()</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-4 label">Age</div>
								<div class="col-lg-6 col-md-8">@Model.Age</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-4 label">Address</div>
								<div class="col-lg-6 col-md-8">@Model.Address</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-4 label">Hire Date</div>
								<div class="col-lg-6 col-md-8">@Model.CreatedOn.ToString("dd, MMM, yyyy")</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-8">
				<div class="row mb-4 g-4">
					<div class="col-md-4">
						<div class="card stats-card h-100">
							<div class="card-body text-center pt-4">
								<h3 class="fw-bold">
									<span class="badge bg-primary rounded-pill px-3 py-2">@Model.NoOfTotalAppointments</span>
								</h3>
								<p class="text-muted mb-0">Total Appointments</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card stats-card h-100">
							<div class="card-body text-center pt-4">
								<h3 class="fw-bold">
									<span class="badge bg-primary rounded-pill px-3 py-2">@Model.NoOfTodayAppointments</span>
								</h3>
								<p class="text-muted mb-0">Today's Appointments</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card stats-card h-100">
							<div class="card-body text-center pt-4">
								<h3 class="fw-bold">
									<span class="badge bg-primary rounded-pill px-3 py-2">@Model.NoOfUpcomingAppointments</span>
								</h3>
								<p class="text-muted mb-0">Upcoming Appointments</p>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-body pt-3 pb-0">
						<ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100 active" data-bs-toggle="tab" data-bs-target="#today-appointments" role="tab">Today's appointments</button>
							</li>
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100" data-bs-toggle="tab" data-bs-target="#past-appointments" role="tab">Past appointments</button>
							</li>
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100" data-bs-toggle="tab" data-bs-target="#upcoming-appointments" role="tab">Upcoming appointments</button>
							</li>
							<li class="nav-item flex-fill" role="presentation">
								<button class="nav-link w-100" data-bs-toggle="tab" data-bs-target="#working-days" role="tab">Working days</button>
							</li>
						</ul>
						<div class="tab-content pt-2" id="borderedTabJustifiedContent">
							<div class="tab-pane fade show active" id="today-appointments" role="tabpanel">
								<partial name="_Appointments" model="Model.TodayAppointments" />
							</div>
							<div class="tab-pane fade" id="past-appointments" role="tabpanel">
								<partial name="_Appointments" model="Model.PastAppointments" />
							</div>
							<div class="tab-pane fade" id="upcoming-appointments" role="tabpanel">
								<partial name="_Appointments" model="Model.UpcomingAppointments" />
							</div>
							<div class="tab-pane fade table-responsive" id="working-days" role="tabpanel">
								<partial name="_DoctorSchedules" model="Model.DoctorSchedules"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>