@model SpecialtyViewModel

<tr>
	<td>@Model.Name</td>
	<td>@Model.NoOfDoctors</td>
	<td>
		<span class="badge @(Model.IsDeleted ? "bg-danger" : "bg-success") js-status">
			@(Model.IsDeleted ? "Deleted" : "Available")
		</span>
	</td>
	<td>@Model.CreatedOn</td>
	<td class="js-updated-on">@Model.LastUpdatedOn</td>
	<td class="text-end">
		<div class="btn-group">
			<button type="button" class="btn btn-secondary dropdown-toggle btn-sm ps-7" data-bs-toggle="dropdown" aria-expanded="false">
				Action
			</button>
			<ul class="dropdown-menu">
				<li>
					<a href="javascript:;" class="dropdown-item js-render-modal"
					   data-title="Edit Specialty"
					   data-url="/Specialties/Edit/@Model.Id"
					   data-update="true">
						<i class="bi bi-pencil-square"></i>
						Edit
					</a>
				</li>
				<li>
					<a href="javascript:;" class="dropdown-item flex-stack px-3 js-toggle-status"
						data-url="/Specialties/ToggleStatus/@Model.Id">
						<i class="bi bi-toggles"></i>
						Toggle Status
					</a>
				</li>
			</ul>
		</div>
	</td>
</tr>